<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Order status</h4>
    <div class="row">
        <p>Products ordered</p>
        <div th:each="item : ${order.orderLines}" class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.reservationSeat.seat.numberNo}">Seat Number</h5>
                    <p class="card-text" th:text="${item.reservationSeat.seat.rank}">Seat Rank</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Price: ${item.reservationSeat.price}|">Seat Price</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-3">
        <label for="orderTotal" class="col-sm-2 col-form-label">Total sum:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="orderTotal" th:placeholder="${order.orderTotal}" disabled>
            <div th:if="${bindingResult}">
                <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('orderTotal')}"
                     th:text="${e.getDefaultMessage()}" class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <label for="orderStatus" class="col-sm-2 row col-form-label">Order status:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="orderStatus" th:placeholder="${order.orderStatus}" disabled>
            <div th:if="${bindingResult}">
                <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('orderTotal')}"
                     th:text="${e.getDefaultMessage()}" class="text-danger"></div>
            </div>
        </div>
</div>
</div>
</body>
</html>