<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Flight</title>
</head>
<body>
<div layout:fragment="content">
<form th:action="@{/flights/createFlight}" method="post" th:object="${flight}">
    <h4>Create Airport</h4>
    <div class="row mb-2">
        <label for="flightNo" class="col-sm-2 col-form-label">Flight NO:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="flightNo" th:field="*{flightNo}">
            <div th:if="${bindingResult}">
                <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('flightNo')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label for="activity" class="col-sm-2 col-form-label">Country:</label>
        <select class="form-select form-select-sm col-sm-2 w-auto" name="airlineId" id="activity">
            <option th:each="airline : ${airlines}"
                    th:value="${airline.id}"
                    th:selected="${airline.id == flight.airlineId}"
                    th:text="${airline.title}">
                Airline name
            </option>
        </select>
        <div th:if="${bindingResult}">
            <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('airlineId')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
</div>
</body>
</html>
