<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Shopping cart</h4>
    <div class="row">
        <div th:each="item : ${shoppingCart.items}" class="col-sm-3">
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.reservationSeat.seat.numberNo}">Seat Number</h5>
                        <p class="card-text" th:text="${item.reservationSeat.seat.rank}">Seat Number</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <input hidden="hidden" name="reservationSeatId" th:value="${item.reservationSeat.id}">
                        <li class="list-group-item" th:text="|Price: ${item.reservationSeat.price}|">SeatPrice Price</li>
                    </ul>
                <form th:action="@{/shopping-cart-item/{shoppingCartItemId}/delete(shoppingCartItemId=${item.id})}"
                      method="post">
                    <button class="btn btn-outline-danger mt-2 mb-2 ms-2" type="submit" style="font-size: 12px">Remove from bucket</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5">
        <label for="totalPrice" class="col-sm-2 col-form-label">Total price:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="totalPrice"
                   th:placeholder="${shoppingCart.totalPrice}"
                   disabled>
        </div>
    </div>

    <form th:action="@{/orders/create(customerId=${shoppingCart.sessionId})}" method="get">
        <button class="btn btn-outline-danger mt-2" type="submit">Checkout</button>
    </form>
</div>
</body>
</html>