<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Flight</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Flight</h4>
    <div class=" row mb-2">
        <label for="flightNo" class="col-sm-2 col-form-label">Flight Number:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="flightNo"
                   th:placeholder="${flight.flightNo}"
                   disabled>
        </div>
    </div>
    <div th:with="airline=${flight.airline}">
        <div class=" row mb-2">
            <label for="cityName" class="col-sm-2 col-form-label">Airline:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="cityName"
                       th:placeholder="${airline.title}"
                       disabled>
            </div>
        </div>
    </div>
    <div class="btn-group mt-2">
        <a class="btn btn-primary p-lg"
           th:href="@{/flights/{flightId}/update(flightId=${flight.id})}"
           role="button">Update flight</a>
        <form th:action="@{/flights/{flightId}/delete(flightId=${flight.id})}" method="post">
            <button type="submit" class="btn btn-primary btn-danger ms-3">Remove</button>
        </form>
    </div>
    <br>
    <br>
    <h3>Seats</h3>
    <table class="table table-hover table-light table-sm">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">NumberNO</th>
            <th scope="col">Rank</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seat : ${flight.seats}">
            <td th:text="${seat.id}"></td>
            <td th:text="${seat.numberNo}"></td>
            <td th:text="${seat.rank}"></td>
            <td>  <a class="btn btn-outline-primary p-lg" th:href="@{'/seats/' + ${seat.id}}">Details</a></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/flights/createSeat}" method="post" th:object="${flight}">
        <input hidden="hidden" th:value="${flight.id}" name="flightId">
        <div class="row mb-2">
            <label for="numberNo" class="col-sm-2 col-form-label">NumberNO: </label>
            <div class="col-sm-2">
                <input type="text" id="numberNo" class="form-control" name="numberNo">
                <div th:if="${bindingResult}">
                    <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('numberNo')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="rank" class="col-sm-2 col-form-label">Rank:</label>
            <div class="col-sm-2">
            <select class="form-select" name="rank" id="rank">
                <option th:each="rank : ${seatRanks}"
                        th:value="${rank}"
                        th:text="${rank.name}">
                    Seat rank
                </option>
            </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add seat</button>
    </form>
</div>
</body>
</html>
